* {
    margin: 0px;
    padding: 0px;
}

.row {
    line-height: 0;
}

.wall {
    background-color: blue;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url(img/sushi.png);
    background-size: contain;
}

.onigiri {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url(img/onigiri.png);
    background-size: contain;
}

.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}

#ninjaman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url(img/ninja.gif);
    background-size: contain;
    position: absolute;
}